Coucou, <%= @therapist.first_name %>
<h1>Mes disponibilités programmées :</h1>
<ul>
  <% @availabilities.each do |speciality, availabilities| %>
    <ul>
      <%= speciality.name %>
      <% availabilities.each do |availability| %>
        <li>
          <%= availability.date %>
          <%= "#{l(availability.start_time, format: :hour_only)} - #{l(availability.end_time, format: :hour_only)}" %>
        </li>
        <%= link_to 'Modifier la disponibilité ', edit_admin_availability_path(availability) %>
      <% end %>
    </ul>
  <% end %>
</ul>
<h1>Les différents thérapeutes :</h1>
<ul>
  <% @therapists.each do |therapist| %>
    <li>
      <%= therapist.first_name %>
      <% if policy(therapist).update? %>
        <%= link_to "Editer ce thérapeute", edit_admin_therapist_path(therapist) %>
      <% end %>
      <% if policy(therapist).destroy? %>
        <%= link_to "Supprimer ce thérapeute", admin_therapist_path(therapist), data: { turbo_method: :delete } %>
      <% end %>
    </li>
  <% end %>
  <%= link_to 'Créer un thérapeute', new_admin_therapist_path %>
</ul>
<h1>Les spécialités</h1>
<ul>
  <% @specialities.each do |speciality| %>
    <li>
      <%= link_to speciality_path(speciality) do %>
        <%= speciality.name %>
      <% end %>
      <%= link_to 'Modifier la spécialité', edit_admin_speciality_path(speciality) %>
    </li>
  <% end %>
  <%= link_to 'Créer une spécialité', new_admin_speciality_path %>
</ul>
<h1>Vos spécialités :</h1>
<ul>
  <% @self_specialities.each do |self_speciality| %>
    <li>
      <%= self_speciality.name %>
    </li>
    <%= link_to 'Ajouter une disponibilité', new_admin_availability_path(speciality_id: self_speciality.id) %>
  <% end %>
</ul>
