Coucou, <%= @therapist.first_name %>
<h1>Mes disponibilités programmées :</h1>
<ul>
  <li>
    <% @availabilities.each do |availability| %>
      <%= "#{l(availability.start_time, format: :hour_only)} - #{l(availability.end_time, format: :hour_only)}" %>
    <% end %>
  </li>
</ul>
<h1>Les thérapeutes :</h1>
<ul>
  <% @therapists.each do |therapist| %>
    <li>
      <%= therapist.first_name %>
      <% if policy(therapist).update? %>
        <%= link_to "Editer ce thérapeute", edit_admin_therapist_path(therapist) %>
      <% end %>
      <% if policy(therapist).destroy? %>
        <%= link_to "Supprimer ce thérapeute", admin_therapist_path(therapist), data: { turbo_method: :delete } %>
      <% end %>
    </li>
  <% end %>
  <%= link_to 'Créer un thérapeute', new_admin_therapist_path %>
</ul>
