<%= simple_form_for @availability, url: admin_availabilities_path, method: :post do |f| %>
  <%= f.hidden_field :speciality_id, value: params[:speciality_id] || @availability.speciality_id %>
  <div>
    <%= f.input :date, as: :date, label: "Date du créneau", html5: true %>
  </div>
  <div>
    <%= f.input :start_time, label: "Heure de début", as: :time %>
  </div>
  <div>
    <%= f.input :end_time, label: "Heure de fin", as: :time %>
  </div>
  <div>
    <%= f.submit "Créer le créneau" %>
  </div>
<% end %>
