<header>
  <nav>
    <ul>
      <li>
        <%= link_to 'Accueil', root_path %>
      </li>
      <li>
        <%= image_tag 'Jeannelle.png' %>
      </li>
      <li>
        <% if !therapist_signed_in? %>
          <%= link_to "Espace Pro", new_therapist_session_path %>
        <% else %>
          <% if current_therapist.admin? %>
            <%= link_to 'Tableau de bord', admin_dashboard_index_path %>
          <% else %>
            <%= link_to 'Tableau de bord', therapists_dashboard_dashboard_index_path %>
          <% end %>
          <%= link_to 'Déconnexion', destroy_therapist_session_path, data: { turbo_method: :delete } %>
        <% end %>
      </li>
    </ul>
  </nav>
  <div class="gradient">
  </div>
</header>
