<!DOCTYPE html>
<html>
  <head>
    <title>JeannelleBookings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= link_to 'Se déconnecter', destroy_therapist_session_path, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
    <%= yield %>
  </body>
</html>
